beautifulsoup4==4.12.2
cchardet==2.1.7
certifi==2023.5.7
charset-normalizer==3.1.0
decorator==5.1.1
idna==3.4
lxml==4.9.2
PyMySQL==1.0.3
requests==2.30.0
soupsieve==2.4.1
urllib3==2.0.2
validators==0.20.0
selenium
aiohttp==3.8.5
webdriver_manager==4.0.0